<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top"> <!--fixed-topはバーを上部に固定しておくもの! navbar-expand-smはハンバーガーになるサイズを指定するもの-->
  <a class="navbar-brand">メッセージ投稿アプリ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
     <%= link_to "投稿一覧", posts_path, class: "nav-item" "nav-link active" %>
     <%= link_to "新規投稿", new_post_path, class: "nav-item" "nav-link active" %>
    </div>
  </div>
</nav>
